<div class="form-container">
    <form class="form" [formGroup]="peopleForm">
        <div class="input-label">
            <label> Nome </label>
            <input type="text" placeholder="Nome" formControlName="name">
        </div>
        <div class="input-label">
            <label> Idade </label>
            <input type="number" placeholder="Idade" formControlName="age">
        </div>
        <div class="input-label"> 
            <div class="input-radio">
                <label>Masculino:</label> <input type="radio" name="sex" value="MASCULINO" formControlName="sex">
                <label>Feminino:</label> <input type="radio" name="sex" value="FEMININO" formControlName="sex">
            </div>
        </div>
    </form>
    <div class="buttons-container">
        <button class="button-primary" (click)="emitRegister()">{{ !personHasSelected ? 'Registrar' : 'Alterar' }}</button>
        <button class="button-secondary" (click)="clear()">Limpar</button>
    </div>
</div>

